.user-select (@value) {
    user-select: @value;
    -webkit-user-select: @value;
    -moz-user-select: @value;
    -ms-user-select: @value;
    -o-user-select: @value;
    -khtml-user-select: @value;
}

.box-shadow(@hoffset: 0, @voffset: 0, @blur: 1px, @spread: 1px, @color: black) {
    box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
    -khtml-box-shadow: @arguments;
}

.border-radius(@radius) {
    border-radius: @arguments;
    -webkit-border-radius: @arguments;
    -moz-border-radius: @arguments;
    -ms-border-radius: @arguments;
    -o-border-radius: @arguments;
    -khtml-border-radius: @arguments;
}

* {
    margin: 0;
    padding: 0;
}

body {
    // default font and color
    font-family: "Arial", sans-serif;
    font-size: 62.5%;
    color: rgb(60, 60, 60);
}

#map {
    // stretch to fill the entire screen
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// an overlay of tile outlines and tile coordinates
.coord_overlay_tile {
    // same size as a standard tile
    width: 256px;
    height: 256px;

    // only outline two sides, so borders don't double-up on all edges
    border-left: 1px dotted gray;
    border-top: 1px dotted gray;

    // tile coordinate text goes in the lower right corner
    .coord_text {
        font-size: 1.2em;
        font-weight: bold;

        // give the numbers good contrast
        color: white;
        background-color: black;
        .border-radius(10px);

        @hpadding: 4px;
        padding-left: @hpadding;
        padding-right: @hpadding;

        opacity: 0.6;

        position: absolute;
        bottom: 0;
        right: 0;

        margin: 5px;
    }
}
