.user-select (@value) {
    user-select: @value;
    -webkit-user-select: @value;
    -moz-user-select: @value;
    -ms-user-select: @value;
    -o-user-select: @value;
    -khtml-user-select: @value;
}

.box-shadow(@hoffset: 0, @voffset: 0, @blur: 1px, @spread: 1px, @color: black) {
    box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -ms-box-shadow: @arguments;
    -o-box-shadow: @arguments;
    -khtml-box-shadow: @arguments;
}

* {
    margin: 0;
    padding: 0;
}

body {
    // default font and color
    font-family: "Arial", sans-serif;
    color: rgb(60, 60, 60);
}

// position at bottom of screen
#help-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5px;
}

#help {
    // center in the container
    width: 723px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;

    // match the other controls
    font-size: 13px;

    border: 1px solid rgba(0, 0, 0, 0.5);

    @padding: 2px;
    padding-top: @padding - 1px;
    padding-bottom: @padding + 1px;
    padding-left: @padding * 3;
    padding-right: @padding * 3;

    // present this as a static box, with no selecting, highlighting, or clicking
    cursor: default;
    .user-select(none);

    .box-shadow(0, 3px, 7px, 0px, rgb(75, 75, 75));
}

#map {
    // stretch to fill the entire screen
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

// the right-click menu
#menu {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);

    // will be set to the mouse position when shown
    position: fixed;
    left: 0;
    top: 0;

    // disable text selection
    .user-select(none);

    // hide it initially: it will be shown when needed
    display: none;

    hr {
        @vmargin: 5px;
        margin-top: @vmargin;
        margin-bottom: @vmargin;

        @hr_color: rgb(230, 230, 230);
        border: none;
        border-top: 1px solid @hr_color;
        color: @hr_color;
    }
}

.menu_item {
    font-size: 13px;

    cursor: pointer;

    @hpadding: 15px;
    @vpadding: 6px;
    padding-top: @vpadding;
    padding-bottom: @vpadding;
    padding-left: @hpadding;
    padding-right: @hpadding + 2px;

    &:hover {
        background: rgb(245, 245, 245);
    }
}
